<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - 杏水流光</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
	<header class="container clear">
        <nav>
        	<a href="/">首页</a>
        	<a href="/代码">代码</a>
        	<a href="/linux">linux相关</a>
        	<a href="/生活">生活</a>
        	<a href="/其他">其他</a>
        </nav>
	</header>
	{% block "content" %}{% endblock %}
    <footer class="container clear">
        <div class="about left">
            <div class="links">
                <a href="https://github.com/xsonnet">Github</a>
                <a href="https://gitee.com/nekocharm">Gitee</a>
            </div>
        </div>
        <div class="right">&copy; 2019</div>
    </footer>
</body>
</html>