<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - 杏水流光</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
	{% include header.html %}
	<div class="container mb">
		<ul class="blog-list">
	        {{ list }}
	    </ul>
	    <div class="clear">
	    	<div class="left">当前在第{{ page }}页，共{{ total_page }}页</div>
	    	<div class="right">
	    		{{ preview }}
	    		{{ next }}
	    	</div>
	    </div>
	</div>
    {% include footer.html %}
</body>
</html>