@border: #dedede;
@light: #e2e2e2;
@gray: #b2b2b2;
@dark: #777;
@black: #222;
@blue: #0b9af5;
@orange: #ea5406;

body {
	margin: 0;
	font-size: 14px;
	font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
    color: @orange;
		text-decoration: underline;
	}
}
.container {
	width: 800px;
	max-width: 94%;
	margin-left: auto;
	margin-right: auto;
}
.content {
	padding: 20px;
}
.clear {
	overflow: hidden;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
.center {
	text-align: center;
}
.mb {
	margin-bottom: 20px;
}
.mb-10 {
	margin-bottom: 10px;
}
.text {
  line-height: 1.6;
}
header {
  padding: 20px 0;
  border-bottom: @light 1px solid;
  margin-bottom: 20px;
  nav {
    line-height: 30px;
    a {
      text-decoration: none;
      font-size: 1.3em;
    }
    a + a {
      margin-left: 1em;
    }
  }
}
.blog-list {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 10px 0;
		& + li {
      border-top: @light 1px solid;
    }
		.title {
			font-size: 1.2em;
		}
		.info {
			margin: 10px 0;
      .item + .item {
        margin-left: 1em;
      }
		}
		.summary {
			color: #727272;
		}
		.keywords {
			color: #999;
		}
	}
}
.detail {
  .title {
    font-size: 1.6em;
    color: @black;
  }
  .info {
    margin-top: 5px;
    margin-bottom: 10px;
    span + span {
      margin-left: 1em;
    }
  }
  .summary {
    background: @light;
    padding: 10px;
    line-height: 1.6;
  }
}
.article {
  code {
    background: #fff;
    padding: 3px 8px;
  }
  pre code {
    display: block;
    background: #fff;
    padding: 1em;
    border-left: @gray 2px solid;
    max-width: 100%;
    overflow: auto;
  }
  ol, ul {
    padding-left: 1.5em;
  }
}
footer {
  padding: 20px 0;
  border-top: @light 1px solid;
  .about {
    .links {
      a + a {
        margin-left: 0.5em;
      }
    }
  }
  .copyright {
    float: right;
  }
}